Repository Quantco/multiregex: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, prettier, mypy, taplo

docformatter:
  name: docformatter
  entry: pixi run -e lint docformatter -i
  language: system

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

mypy:
  name: mypy
  entry: pixi run -e default mypy
  language: system
  require_serial: true

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

only publish on tags
  .github/workflows/build.yml
Due: prettier

checkout with history
  .github/workflows/build.yml
Due: prettier

always set checkout options
  .github/workflows/ci.yml
Due: prettier

bye
  environment.yml
Due: prettier

just use packages list
  pyproject.toml
Due: taplo

update readme
  README.md
Due: prettier

dynamically set version
  README.md
  multiregex/__init__.py
Due: docformatter, prettier, mypy

include py.typed file & port to pixi (#52)
  .conda_lock_files/py312_lin64.yml
  .conda_lock_files/py312_osx64.yml
  .conda_lock_files/py312_win64.yml
  .conda_lock_files/py36_lin64.yml
  .conda_lock_files/py36_linux64.yml
  .conda_lock_files/py36_osx64.yml
  .conda_lock_files/py36_win64.yml
  .flake8
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.rst
  README.md
  docs/make.bat
  environment.yml
  multiregex/__init__.py
  multiregex/py.typed
  pixi.lock
  pixi.toml
  pyproject.toml
  setup.cfg
  setup.py
  stubs/ahocorasick.pyi
  tests/test_bench.py
  tests/test_cpython_tests.py
Due: docformatter, prettier, mypy, taplo

set package-dir folder
  pyproject.toml
Due: taplo

Update .gitattributes
  .gitattributes
Due: none

Update pyproject.toml
  pyproject.toml
Due: taplo

keep pull_request trigger
  .github/workflows/ci.yml
Due: prettier

keep src folder
  pyproject.toml
  src/multiregex/__init__.py
  src/multiregex/py.typed
Due: docformatter, mypy, taplo

2.0.2
  CHANGELOG.rst
Due: none

use setuptools-scm
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo

use stubs dir, mypy still failing
  multiregex/__init__.py
  multiregex/py.typed
  pyproject.toml
  stubs/ahocorasick.pyi
  tests/test_bench.py
  tests/test_multiregex.py
Due: docformatter, mypy, taplo

add ruff cache to gitignore
  .gitignore
Due: none

add build workflow
  .github/workflows/build.yml
Due: prettier

use mypy pre-commit hook
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: prettier, taplo

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: prettier

keep branches
  .github/workflows/ci.yml
Due: prettier

tags dont start with v here
  .github/workflows/build.yml
Due: prettier

cleanup build.yml
  .github/workflows/build.yml
Due: prettier

fix mypy
  .gitignore
  pixi.lock
  pixi.toml
  pyproject.toml
  tests/test_cpython_tests.py
Due: docformatter, mypy, taplo

use pixi to build pypi package
  .github/workflows/build.yml
  pixi.lock
  pixi.toml
Due: prettier, taplo

include taplo
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: prettier, taplo

use v0.8.0
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: prettier

Changelog version (#54)
  .github/workflows/build.yml
  CHANGELOG.rst
Due: prettier

fix build script
  .github/workflows/build.yml
Due: prettier

dont publish on testpypi
  .github/workflows/build.yml
Due: prettier

Revert "dont publish on testpypi"
  .github/workflows/build.yml
Due: prettier

Path conditions:
  docformatter: any of: \.py$
  prettier: any of: \.(md|yml|yaml)$
  mypy: any of: \.py$
  taplo: any of: \.toml$
