Repository Quantco/multiregex: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, prettier, mypy, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # docformatter
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter -i
        language: system
        types: [python]
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # mypy
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]

Revert "dont publish on testpypi" (#55)
  .github/workflows/build.yml
Due: prettier

fix importlib.metadata
  multiregex/__init__.py
Due: docformatter, mypy

fix importlib.metadata (#56)
  multiregex/__init__.py
Due: docformatter, mypy

Migrate to copier template
  .copier-answers.yml
  .gitattributes
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc
  README.md
  multiregex/__init__.py
  pixi.toml
  pyproject.toml
Due: docformatter, prettier, mypy, taplo

.
  .github/workflows/ci.yml
  pixi.lock
Due: prettier

ignore type hints
  pyproject.toml
Due: taplo

mypy path
  pyproject.toml
Due: taplo

.
  pyproject.toml
Due: taplo

update
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: prettier, taplo

update
  .copier-answers.yml
  .github/workflows/build.yml
Due: prettier

style
  README.md
Due: prettier

bump
  .copier-answers.yml
Due: prettier

fix
  .github/workflows/ci.yml
Due: prettier

Migrate to copier template (#61)
  .copier-answers.yml
  .gitattributes
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc
  README.md
  multiregex/__init__.py
  pixi.lock
  pixi.toml
  pyproject.toml
Due: docformatter, prettier, mypy, taplo

Add mkdocs configuration
  .github/workflows/docs.yml
  README.md
  docs/Makefile
  docs/api-documentation.md
  docs/changelog.rst
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/make.bat
  mkdocs.yml
  multiregex/__init__.py
  pixi.lock
  pixi.toml
  pyproject.toml
Due: docformatter, prettier, mypy, taplo

pre-commit
  mkdocs.yml
  multiregex/__init__.py
  pyproject.toml
Due: docformatter, prettier, mypy, taplo

Add example on how to reference auto generated docs
  docs/index.md
Due: prettier

Optional css to highlight targeted objects
  docs/styles/custom.css
  mkdocs.yml
Due: prettier

Pre-commit changes
  docs/index.md
  docs/styles/custom.css
  mkdocs.yml
Due: prettier

fix
  .github/workflows/build.yml
  pixi.lock
Due: prettier

Fix conflicts
  .github/workflows/build.yml
Due: prettier

Fix conflicts
  .github/workflows/ci.yml
Due: prettier

Fix conflicts
  pixi.toml
Due: taplo

Update pixi.lock
  pixi.lock
Due: none

lint
  multiregex/__init__.py
  stubs/ahocorasick.pyi
Due: docformatter, mypy

Add OpenSSF scorecard workflow
  .github/workflows/scorecard.yml
Due: prettier

Add OpenSSF scorecard workflow (#83)
  .github/workflows/scorecard.yml
Due: prettier

Limit workflow permissions
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: prettier

Limit workflow permissions (#84)
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: prettier

Add a Security Policy
  SECURITY.md
Due: prettier

Update scorecard.yml
  .github/workflows/scorecard.yml
Due: prettier

Update build.yml
  .github/workflows/build.yml
Due: prettier

Explicitly set build-system in pyproject.toml
  CHANGELOG.rst
  pyproject.toml
Due: taplo

Remove unnecessary build-system requires on wheel
  pyproject.toml
Due: taplo

Fix path
  docs/conf.py
Due: docformatter, mypy

Fix path in documentation (#101)
  docs/conf.py
Due: docformatter, mypy

Add license to package metadata
  pyproject.toml
Due: taplo

add changelog entry
  CHANGELOG.rst
Due: none

Add license to package metadata (#112)
  CHANGELOG.rst
  pyproject.toml
Due: taplo
